spring-boot-soap/src/main/resources/test.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://javainuse.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://javainuse.com">

    <wsdl:types>
        <xs:schema targetNamespace="http://javainuse.com">
            <xs:element name="inputSOARentbookAdd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:rentbook" name="rentbook"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOARentbookAddConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOARentbookDel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:rentbook" name="rentbook"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOARentbookDelConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOARentbookById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOARentbookById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:rentbook" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOARentbook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="test"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOARentbook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:rentbook" name="result" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="rentbook">
                <xs:sequence>
                    <xs:element name="rentid" type="xs:int"/>
                    <xs:element name="user_id" type="xs:int"/>
                    <xs:element name="book_id" type="xs:int"/>
                    <xs:element name="reload" type="xs:boolean"/>
                    <xs:element name="returnbook" type="xs:boolean"/>
                    <xs:element name="createat" type="xs:date"/>
                    <xs:element name="endat" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>


    <!--Define input and output parameters -->
    <wsdl:message name="inputSOARentbookAdd">
        <wsdl:part name="in" element="tns:inputSOARentbookAdd"/>
    </wsdl:message>
    <wsdl:message name="outputSOARentbookAddConfirm">
        <wsdl:part name="out" element="tns:outputSOARentbookAddConfirm"/>
    </wsdl:message>
    <wsdl:message name="inputSOARentbookDel">
        <wsdl:part name="in" element="tns:inputSOARentbookDel"/>
    </wsdl:message>
    <wsdl:message name="outputSOARentbookDelConfirm">
        <wsdl:part name="out" element="tns:outputSOARentbookDelConfirm"/>
    </wsdl:message>
    <wsdl:message name="inputSOARentbookById">
        <wsdl:part name="in" element="tns:inputSOARentbookById"/>
    </wsdl:message>
    <wsdl:message name="outputSOARentbookById">
        <wsdl:part name="out" element="tns:outputSOARentbookById"/>
    </wsdl:message>
    <wsdl:message name="inputSOARentbook">
        <wsdl:part name="in" element="tns:inputSOARentbook"/>
    </wsdl:message>
    <wsdl:message name="outputSOARentbook">
        <wsdl:part name="out" element="tns:outputSOARentbook"/>
    </wsdl:message>

    <!--Define port definition -->

    <wsdl:portType name="SOARentbookadd">
        <wsdl:operation name="SOARentbookadd">
            <wsdl:input message="tns:inputSOARentbookAdd"/>
            <wsdl:output message="tns:outputSOARentbookAddConfirm"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SOARentbookdel">
        <wsdl:operation name="SOARentbookdel">
            <wsdl:input message="tns:inputSOARentbookDel"/>
            <wsdl:output message="tns:outputSOARentbookDelConfirm"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:portType name="SOARentbookByIdEndpoint">
        <wsdl:operation name="SOARentbookById">
            <wsdl:input message="tns:inputSOARentbookById"/>
            <wsdl:output message="tns:outputSOARentbookById"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SOARentbookEndpoint">
        <wsdl:operation name="SOARentbook">
            <wsdl:input message="tns:inputSOARentbook"/>
            <wsdl:output message="tns:outputSOARentbook"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--Bind Soap operation and com.javainuse.service -->
    <wsdl:binding name="SOARentbookaddBinding" type="tns:SOARentbookadd">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOARentbookadd">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOARentbookdelBinding" type="tns:SOARentbookdel">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOARentbookdel">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOARentbookByIdBinding" type="tns:SOARentbookByIdEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOARentbookById">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOARentbookBinding" type="tns:SOARentbookEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOARentbook">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--Define com.javainuse.service -->
    <wsdl:service name="SOARentbookaddEndpointService">
        <wsdl:port name="SOARentbookaddEndpoint" binding="tns:SOARentbookaddBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/RentbookAdd"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOARentbookdelEndpointService">
        <wsdl:port name="SOARentbookdelEndpoint" binding="tns:SOARentbookdelBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/Rentbookdel"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOARentbookByIdEndpointService">
        <wsdl:port name="SOARentbookByIdEndpoint" binding="tns:SOARentbookByIdBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/RentbookById"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOARentbookEndpointService">
        <wsdl:port name="SOARentbookEndpoint" binding="tns:SOARentbookBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/rentbook"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>