Book/src/main/resources/wsdl/helloworld.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://javainuse.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://javainuse.com">

    <wsdl:types>
        <xs:schema targetNamespace="http://javainuse.com">
            <xs:element name="inputSOABookAdd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:book" name="book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOAddConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOABookDel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:book" name="book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSODelConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOABookById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOABookById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:book" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOABook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="test"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOABook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:book" name="result" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="book">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="bookName" type="xs:string"/>
                    <xs:element name="author" type="xs:string"/>
                    <xs:element name="editeurs" type="xs:string"/>
                    <xs:element name="nbPage" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="inputSOAUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOAUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:user" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="inputSOAUserAdd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:user" name="user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOAUserAdd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="pseudo" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="gender" type="xs:string"/>
                    <xs:element name="mail" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="inputSOARent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOARent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:rent" name="result" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="rent">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="book_id" type="xs:int"/>
                    <xs:element name="user_id" type="xs:int"/>
                    <xs:element name="create_at" type="xs:date"/>
                    <xs:element name="end_at" type="xs:date"/>
                    <xs:element name="reload" type="xs:boolean"/>
                    <xs:element name="returnbook" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="inputSOAShoppingBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOAShoppingBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:shoppingBook" name="result" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="shoppingBook">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="book_id" type="xs:int"/>
                    <xs:element name="user_id" type="xs:int"/>
                    <xs:element name="create_at" type="xs:date"/>
                    <xs:element name="end_at" type="xs:date"/>
                    <xs:element name="reload" type="xs:boolean"/>
                    <xs:element name="returnbook" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="inputSOAShoppingCart">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputSOAShoppingCart">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="tns:shoppingCart" name="result" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="shoppingCart">
                <xs:sequence>
                    <xs:element name="cartid" type="xs:int"/>
                    <xs:element name="user_id" type="xs:int"/>
                    <xs:element name="duration" type="xs:int"/>
                    <xs:element name="statut" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>


    <!--Define input and output parameters -->
    <wsdl:message name="inputSOABookAdd">
        <wsdl:part name="in" element="tns:inputSOABookAdd"/>
    </wsdl:message>
    <wsdl:message name="outputSOAddConfirm">
        <wsdl:part name="out" element="tns:outputSOAddConfirm"/>
    </wsdl:message>
    <wsdl:message name="inputSOABookDel">
        <wsdl:part name="in" element="tns:inputSOABookDel"/>
    </wsdl:message>
    <wsdl:message name="outputSODelConfirm">
        <wsdl:part name="out" element="tns:outputSODelConfirm"/>
    </wsdl:message>


    <wsdl:message name="inputSOABookById">
        <wsdl:part name="in" element="tns:inputSOABookById"/>
    </wsdl:message>
    <wsdl:message name="outputSOABookById">
        <wsdl:part name="out" element="tns:outputSOABookById"/>
    </wsdl:message>

    <wsdl:message name="inputSOABook">
        <wsdl:part name="in" element="tns:inputSOABook"/>
    </wsdl:message>
    <wsdl:message name="outputSOABook">
        <wsdl:part name="out" element="tns:outputSOABook"/>
    </wsdl:message>

    <wsdl:message name="inputSOAUser">
        <wsdl:part name="in" element="tns:inputSOAUser"/>
    </wsdl:message>
    <wsdl:message name="outputSOAUser">
        <wsdl:part name="out" element="tns:outputSOAUser"/>
    </wsdl:message>

    <wsdl:message name="inputSOAUserAdd">
        <wsdl:part name="in" element="tns:inputSOAUserAdd"/>
    </wsdl:message>
    <wsdl:message name="outputSOAUserAdd">
        <wsdl:part name="out" element="tns:outputSOAUserAdd"/>
    </wsdl:message>

    <!--Define port definition -->

    <wsdl:portType name="SOABookadd">
        <wsdl:operation name="SOABookadd">
            <wsdl:input message="tns:inputSOABookAdd"/>
            <wsdl:output message="tns:outputSOAddConfirm"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SOABookdel">
        <wsdl:operation name="SOABookdel">
            <wsdl:input message="tns:inputSOABookDel"/>
            <wsdl:output message="tns:outputSOAddConfirm"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:portType name="SOABookByIdEndpoint">
        <wsdl:operation name="SOABookById">
            <wsdl:input message="tns:inputSOABookById"/>
            <wsdl:output message="tns:outputSOABookById"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SOABookEndpoint">
        <wsdl:operation name="SOABook">
            <wsdl:input message="tns:inputSOABook"/>
            <wsdl:output message="tns:outputSOABook"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SOAUserEndpoint">
        <wsdl:operation name="SOAUser">
            <wsdl:input message="tns:inputSOAUser"/>
            <wsdl:output message="tns:outputSOAUser"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SOAUserEndpointAdd">
        <wsdl:operation name="SOAUserAdd">
            <wsdl:input message="tns:inputSOAUserAdd"/>
            <wsdl:output message="tns:outputSOAUserAdd"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--Bind Soap operation and com.javainuse.service -->
    <wsdl:binding name="SOABookaddBinding" type="tns:SOABookadd">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOABookadd">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOABookdelBinding" type="tns:SOABookdel">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOABookdel">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOABookByIdBinding" type="tns:SOABookByIdEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOABookById">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOABookBinding" type="tns:SOABookEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOABook">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOAUserBinding" type="tns:SOAUserEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOAUser">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SOAUserAddBinding" type="tns:SOAUserEndpointAdd">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SOAUserAdd">
            <soap:operation soapAction="http://javainuse.com"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <!--Define com.javainuse.service -->
    <wsdl:service name="SOABookaddEndpointService">
        <wsdl:port name="SOABookaddEndpoint" binding="tns:SOABookaddBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/BookAdd"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOABookdelEndpointService">
        <wsdl:port name="SOABookdelEndpoint" binding="tns:SOABookdelBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/Bookdel"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOABookByIdEndpointService">
        <wsdl:port name="SOABookByIdEndpoint" binding="tns:SOABookByIdBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/BookById"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOABookEndpointService">
        <wsdl:port name="SOABookEndpoint" binding="tns:SOABookBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/book"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOAUserEndpointService">
        <wsdl:port name="SOAUserEndpoint" binding="tns:SOAUserBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/user"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="SOAUserEndpointServiceAdd">
        <wsdl:port name="SOAUserEndpointAdd" binding="tns:SOAUserAddBinding">
            <soap:address location="http://localhost:8080/javainuse/ws/userAdd"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
